<!DOCTYPE html>

<html>
    <head>
        <title>Payments</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="reset.css" type="text/css">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="http://localhost:3000/lib/toast/jquery.toast.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container">
                <h1>Payments</h1>
                <nav>
                    <a href="#">Sign Up!</a> |
                    <a href="#">FAQ</a> |
                    <a href="#">Support</a>
                </nav>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="tabs">
                    <a href=""><span id="newest" class="active">Newest</span></a>
                    <a href=""><span id="add">Add</span></a>
                </div>
                <div class="content">
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="contact">
                    <h5>Matheus Prudencio dos Santos</h5>
                    <p>Payments</p>
                    <p>Av. Faria Lima</p>
                    <p>Santo Andre, SP, Brasil</p>
                </div>
                <div class="sitemap">
                    <h5>Sitemap</h5>
                    <ul>
                        <div class="left">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy</a></li>
                        </div>
                        <div class="right">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Careers</a></li>
                        </div>
                    </ul>
                    
                </div>
            </div>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="http://localhost:3000/lib/toast/jquery.toast.min.js"></script>
    <script src="app.js"></script>
</html>
